@import 'index.css';

.container {
    margin-block: auto;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
background-color: #fefefe;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
border-radius: 10px;
width: 75%;
}
  
.close {
margin-top: -10px;
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}
  
.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.default-wrapper {
    padding: 2rem;
    border-radius: 15px;
    background: hsl(var(--bg-white) / .15);
    backdrop-filter: blur(30px);
    min-width: 300px;
    width: clamp(300px, 50vw, 1000px);
    box-shadow:
        0px 0.1px 2.2px rgba(0, 0, 0, 0.096),
        0px 0.1px 5.3px rgba(0, 0, 0, 0.142),
        0px 0.3px 10px rgba(0, 0, 0, 0.17),
        0px 0.4px 17.9px rgba(0, 0, 0, 0.189),
        0px 0.8px 33.4px rgba(0, 0, 0, 0.202),
        0px 2px 80px rgba(0, 0, 0, 0.21);
}

.default-wrapper h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.btn-default {
    width: 200px;
    min-height: 48px;
    font-size: 1.2rem;
    margin-inline: auto;
    margin-top: 1.5rem;
    padding-block: .5rem;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    transition: color 300ms ease, border-color 300ms ease;
}

.btn-pressed {
    border-color: white;
    background: rgb(0, 0, 0, .5);
    color: white;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: .5rem;
    align-items: center;
    
}

.btn-default:hover {
    border-color:white;
    color: white;
}

.btn-default:hover img {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(154deg) brightness(108%) contrast(101%);
}

.btn-add-order {
    margin-top: 0;
    margin-inline: 0;
}

#btn-reload {
    margin-inline: 0;
    margin-top: 0;
}

#btn-reload img {
    width: 30px;
    cursor: pointer;
    vertical-align: middle;
    transition: filter 300ms ease;
}

.btn-confirm-order {
    margin-inline: center
}

.btn-confirm-order:hover {
    border-color: rgb(255, 0, 98);
    color: rgb(255, 0, 98);
}

.btn-remove {
    background: transparent;
    border: 1px solid black;
    border-radius: 7px;
    padding: .2rem;
}

.btn-remove:hover {
    color:white;
    border-color: white;
}

table {
    width: 100%;
    text-align: center;
    border: 2px solid black;
    margin-bottom: 2rem;
}

table ul li {
    list-style: none;
}



.product-card {
    background: linear-gradient(137deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    height: 55px;
    width: 95px;
    border-radius: 10px;
    border-width: 5px;
    border-style: hidden;
    padding: .5rem;
    justify-content: space-between;
}

.product-card .product-name {
    font-weight: bold;
    font-size: .9rem;
}

.product-card .product-price {
    align-self: end;
    margin-right: 14px;
    margin-bottom: -2px;
    font-size: .9rem;
}

.product-card .product-price span:first-child {
    font-weight: bold;
}

.product-card .product-price span:last-child {
    position: absolute;
}

.product-card[data-pressed="true"] {
    border-style: double;
    border-color: rgba(252,176,69,1);
}

@media (min-width: 700px) {

    .default-wrapper h2 {
        font-size: 3rem;
    }

    .modal-content {
        width: 50%;
        }

    .product-card {
       
        height: 75px;
        width: 110px;
        padding: .75rem;

    }

    .product-card .product-name {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .product-card .product-price span {
        font-size: .9rem;
    }

    .btn-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        gap: .5rem;
        justify-content: space-around;
        
    }

}