@import 'index.css';


.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.d-block {
    display: block;
}

.error {
    color: rgb(255, 151, 151);
    border-color: rgb(255, 151, 151);
}
